<!-- Instructores -->
<section class="bg-light page-section" id="instructores">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Nuestros instructores</h2>
        <h3 class="section-subheading text-muted">Conoce a nuestros experimentados instructores de Padel que te
          ayudaran en poco tiempo amar el padel!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="../../assets/imgs/instructores/instructor1.jpeg"
               alt="Eric Aldas, instructor Padel - PadX">
          <h4>Eric Aldas</h4>
          <p class="text-muted">Instructor de Padel certificado, su destreza de maestro de padel lo pr&aacute;ctica
            en los ni&ntilde;os de 5-12 a&ntilde;os</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://twitter.com/waltracio">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="../../assets/imgs/instructores/instructor2.jpeg"
               alt="Alberto Ramsa, instructor Padel - PadX">
          <h4>Alberto Ramsa</h4>
          <p class="text-muted">Instructor de Padel Certificado, comparte sus conociemientos de padel a
            personas adultas de 25 a&ntilde;os en adelante</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://twitter.com/Plaid_Sanchez">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="../../assets/imgs/instructores/instructor3.jpeg" alt="">
          <h4>Rafaela Alhajas</h4>
          <p class="text-muted">Jugadora de Padel Profesional, comparte con los jovenes sus experiencias sobre
            este deporte </p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Todos ellos colaboran en PadX impartiendo clases de Padel, estaremos
          gustosos en ayudarte a iniciar en este deporte!</p>
      </div>
    </div>
  </div>
</section>
