<div class="sidenav">
  <div class="login-main-text">
    <h2>Ingresa a PadX</h2>
    <p>Inicia sesi&oacute;n con tu cuenta o registrate.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form>
        <div class="form-group">
          <label>Nombre de Usuario</label>
          <input type="text" class="form-control" [(ngModel)]="user.username" placeholder="Usuario" required="true"
          name="username">
        </div>
        <div class="form-group">
          <label>Contrase&ntilde;a</label>
          <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Contrase&ntilde;a"
                 required="true" name="password">
        </div>
        <div *ngIf="hasError" class="alert alert-danger">{{errorMessage}}</div>
        <button type="submit" class="btn btn-primary mr-1" (click)="login()">Inicia Sesi&oacute;n</button>
        <button type="submit" class="btn btn-secondary">Registrate</button>
      </form>
    </div>
  </div>
</div>
