<div class="sidenav">
  <div class="login-main-text">
    <h2>Ingresa a PadX</h2>
    <p>Inicia sesi&oacute;n con tu cuenta o registrate.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form>
        <div class="form-group">
          <label>Nombre de Usuario</label>
          <input type="text" class="form-control" placeholder="Usuario">
        </div>
        <div class="form-group">
          <label>Contrase&ntilde;a</label>
          <input type="password" class="form-control" placeholder="Contrase&ntilde;a">
        </div>
        <button type="submit" class="btn btn-primary mr-1">Inicia Sesi&oacute;n</button>
        <button type="submit" class="btn btn-secondary">Registrate</button>
      </form>
    </div>
  </div>
</div>
