.reservation{
  min-height: 100vh;
  width: 100%;
  background: url('../../assets/imgs/pad-reservation_b.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
}
.booking-cta {
  text-align: justify;
  text-justify: inter-word;
  top: 10%;
  padding-right: 5%;
  position: absolute;
}
.booking-cta h1 {
  color: #ffff;
  font-size: 31px;
}
.booking-cta p {
  color: #ffffff;
  font-size: 20px;
}
.booking-cta span {
  background-color: #fec503;
  opacity: 0.88;
}
.booking-cta .btn-primary {
  background: #fec503;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  height: 40px;
  font-size: 18px;
  width: 100%;
  color: #fff;
  border-radius: 4px;
  display: block;
}
#booking {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  background-color: #fec503;
  background-image: url('src/assets/imgs/pad-reser.jpg');
}

.booking-form {
  padding: 0px 0px 0px;
  border-radius: 1px;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.booking-form .form-control {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 400;
  color: #000000;
  background: #ffffff;
  opacity: 0.80;
  border-radius: 4px;
}


.booking-form input[type="date"].form-control:invalid {
  color: #000000;
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control+.select-arrow {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 24px;
  text-align: center;
  pointer-events: none;
  height: 65px;
  line-height: 65px;
  color: #b1b6bd;
  font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  color: #fec503;
  display: block;
  font-weight: 600;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  position: relative;
  margin-top: 10px;
  text-transform: uppercase;
}

.booking-form .form-btn {
  margin-bottom: 30px;
}

.booking-form .btn-primary {
  background: #fec503;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  height: 40px;
  font-size: 18px;
  width: 100%;
  color: #fff;
  border-radius: 4px;
  display: block;
}
.btn-primary {
  background: #fec503;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 15px solid rgba(0, 0, 0, 0.1);
}
