.div.reservation {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
}
.booking-cta {
  text-align: justify;
  text-justify: inter-word;
}
.booking-cta h1 {
  color: #ffff;
  font-size: 32px;
}
.booking-cta p {
  color: #ffffff;
  font-size: 20px;
}
.booking-cta span {
  background-color: #fec503;
  opacity: 0.88;
}
#booking {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  background-color: #fec503;
  background-image: url('src/assets/imgs/pad-reser.jpg');
}

.booking-form {
  padding: 30px 15px 0px;
  border-radius: 1px;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 30px;
}

.booking-form .form-control {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 15px;
  color: #fec503;
  font-weight: 300;
  background: #f2f1f1;
  border-radius: 4px;
}


.booking-form input[type="date"].form-control:invalid {
  color: #b1b6bd;
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control+.select-arrow {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 24px;
  text-align: center;
  pointer-events: none;
  height: 65px;
  line-height: 65px;
  color: #b1b6bd;
  font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.booking-form .form-label {
  color: #184c8f;
  display: block;
  font-weight: 600;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  position: relative;
  margin-top: 10px;
  text-transform: uppercase;
}

.booking-form .form-btn {
  margin-bottom: 30px;
}

.booking-form .submit-btn {
  background: #fec503;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  height: 40px;
  font-size: 18px;
  width: 100%;
  color: #fff;
  border-radius: 4px;
  display: block;
}

